.login-public
  width: 100%
  height: 100%
  background-color: $color-blue
  display flex;
  justify-content center
  align-items center
  flex-direction column
  font-family HanziPenSC-W3
  overflow-x hidden
  .logo
    margin-bottom 56px
    img
      width: 233px
  .form-box
    width: 599px;
    height: 390px;
    background url("../../assets/img/login/form_ba.png") no-repeat
    background-size contain
    overflow hidden
    .form-wrap
      margin: 60px 0 0 66px;
      width: 350px;
      height: 250px;
      display flex
      justify-content center
      align-items center
      form
        width 257px
      .item
        width: 100%;
        height: 38px;
        background-color: #ffffff;
        border-radius: 4px;
        margin-bottom 2px
        display flex
        align-items center
        overflow hidden
        input
          font-family: HanziPenSC-W3;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0px;
          letter-spacing: 0px;
          color: $color-blue;
          padding-left 16px
          flex 1
          width 100%
          height 100%
          &:focus
            background-image none !important
        .nickname
          background-image url("../../assets/img/login/nickname.png")
          background-repeat no-repeat
          background-size 28px 15px
          background-position 16px center
        .email
          background-image url("../../assets/img/login/email.png")
          background-repeat no-repeat
          background-size 26px 15px
          background-position 16px center
        .password
          background-image url("../../assets/img/login/password.png")
          background-repeat no-repeat
          background-size 27px 15px
          background-position 16px center
        .forget
          background-image url("../../assets/img/login/forget.png")
          background-repeat no-repeat
          background-size 144px 15px
          background-position 16px center
        .new_password
          background-image url("../../assets/img/reset_password/new_password.png")
          background-repeat no-repeat
          background-size 43px 15px
          background-position 16px center
        .confirm_password
          background-image url("../../assets/img/reset_password/confirm_password.png")
          background-repeat no-repeat
          background-size 57px 15px
          background-position 16px center
      .password
        a
          padding 0 8px
          height: 17px;
          font-family: HanziPenSC-W3;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 17px;
          letter-spacing: 0px;
          color: #898888;
          border-left: solid 2px $color-blue;
          text-align center

          img
            width 66px
            height 15px
      .info
        font-family: HanziPenSC-W5;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #ffffff;
        margin 0 auto
        margin-top 28px
        display inline-block
        .info-img
          display block
          margin 0 auto
          width 86px
          height 13px
        .back_login
          width 48px
          height 13px
      .submit
        width: 100%;
        height: 38px;
        border-radius: 4px;
        border none
        margin-top 26px
        font-family: HanziPenSC-W5;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 38px;
        letter-spacing: 0px;
        color: #ffffff;
        cursor pointer
        background-color: #3b98fc;
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      .submit-login
        background-image url("../../assets/img/login/login.png")
        background-repeat no-repeat
        background-size 32px 17px
        background-position center center
      .submit-login:hover{
        background-image url("../../assets/img/login/login_hover.png")
      }
      .submit-submit
        background-image url("../../assets/img/login/submit.png")
        background-repeat no-repeat
        background-size 31px 18px
        background-position center center
      .submit-submit:hover
        background-image url("../../assets/img/login/submit_hover.png")
      .step-text
        font-family: HanziPenSC-W3;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
        margin .4em auto

  .links
    margin-top 45px
    display flex
    justify-content center
    .xcx-link
      width 284px
      height 15px
      display block
      background-image url("../../assets/img/login/xcx.png")
      background-repeat no-repeat
      background-size contain
      &:hover
        background-image url("../../assets/img/login/xcx_hover.png")

@media (max-width: $xs)
  .login-public
    .forget-box
      margin-top -10%
    .logo
      margin-bottom 32px
    .form-box
      width: 370px;
      height: 240px;
      background url("../../assets/img/login/form_ba.png") no-repeat
      background-size contain
      overflow hidden
      margin: 0 auto;
      .form-wrap
        // margin: 30px 0 0 46px;
        // width: 170px;
        // height: 140px;
        margin: 46px 0 0 54px;
        width: 190px;
        height: 144px;
        .item
          height 32px
        .submit
          margin-top: 6px;
          height: 32px;
          line-height 32px
        .info
          margin-top 12px
    .links
      margin-top 26px
      img
        width 200px
        height auto
